<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <link rel="icon" href="<%= htmlWebpackPlugin.options.iconUrl %>">
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
</head>

<body ng-app="app" ng-strict-di ng-cloak>
    <div ui-view>
        <div style="width:100%;height:100vh;text-align:center;padding-top:200px">
            <img
                width="500px"
                src="./assets/img/loading.gif" alt="Loading..." />
        </div>
    </div>
</body>
</html>
