<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <link rel="icon" href="<%= htmlWebpackPlugin.options.iconUrl %>">
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
</head>

<body ng-app="beastie" ng-strict-di ng-cloak layout="column" flex>
    <div ui-view layout="column" flex layout-fill>
        <div style="width:100%;height:100vh;text-align:center;padding-top:200px">
            <img width="200px" src="./assets/img/loading.gif" alt="Loading..." />
        </div>
    </div>
    <script src='./assets/js/fastclick.js'></script>
    <script type="text/javascript">
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>
